body {
    display: flex;
    background-image: url("/image/fondo.png");
    margin-top: 7vh;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: row;
    height: 87vh;
    width: 95vw;
    justify-content: center;
    align-items: center;
  }
  
  .left-banner {
    
    background-color: #5d58b4da;
    display: flex;
    flex-direction: column;
    
    width: 15%; 
    height: 100%;
    color: white;
    padding: 2vw; 
    border-radius: 1vw; 
    
  }
  .option a:hover {
    color: #93c1da; /* Cambia el color al pasar el mouse */
}

  
  .left-banner ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-banner ul li {
    margin: 4vw 0; 
  }
  
  .left-banner .principal ul li h1 {
    font-size: 2.5vw; 
    margin: 0 0 3vw 0;
    font-family: 'Chau Philomene One', sans-serif;
  }
  
  .left-banner ul li h3 {
    font-size: 1.6vw;
    font-family: 'Chau Philomene One', sans-serif;
    margin: 0;
  }
  
  .left-banner ul li h3 a {
    color: white;
    text-decoration: none; 
  }
  
  .left-banner ul li h3 a:hover {
    text-decoration: underline;
  }
  
  .content-container {
    
    width: 90%; 
    height: 100%;
    margin-left: -10px;
    background-color: white;
    padding: 2vw; 
    display: flex;
    flex-direction: column;
    border-radius: 1vw; 
    position: relative; 
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 3vw;
    font-family: 'Chau Philomene One', sans-serif;
    margin: 0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 1vw; 
    font-size: 1.5vw; 
  }
  
  .user-info img {
    width: 5vw; 
    height: 5vw;
    border-radius: 50%;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vw; 
  }
  
  .card {
    background-color: #f5f5f5;
    border-radius: 1vw; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 2vw;
    margin: 1vw;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card img {
    width: 10vw; 
    height: 10vw;
  }
  
  .card h2 {
    font-size: 2vw; 
    margin: 1vw 0;
  }
  
  .card p {
    font-size: 1.5vw; 
    margin: 1vw 0;
  }
  
  .card .rating {
    font-size: 1.8vw; 
    color: #ffbb00;
    margin: 1vw 0;
  }
  
  .card button {
    background-color: #4a47a3;
    color: white;
    border: none;
    padding: 1vw 2vw; 
    border-radius: 2vw;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #37347a;
  }
  
  .card:hover {
    transform: translateY(-1vw);
  }
  
  .calendar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .calendar {
    background-color: #fff;
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  }
  
  .calendar .month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
  }
  
  .calendar .weekdays {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
    margin: 1vw 0;
  }
  
  .calendar .weekdays div {
    width: 14.28%;
    text-align: center;
  }
  
  .calendar .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5vw;
  }
  
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
  }
  
  .calendar .days .day.active {
    background-color: var(--primary-clr);
    color: #fff;
  }
  
  .calendar .goto-today {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
  }
  
  .calendar .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--primary-clr);
  }
  
  .calendar .goto input {
    height: 30px;
    outline: none;
    border: none;
    padding: 0 20px;
    color: var(--primary-clr);
  }
  
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
  }
  
  .calendar .goto-today button:hover {
    background-color: var(--primary-clr);
    color: #fff;
  }

  .principal{
    width: 100%;
    height: 45%;
    margin-bottom: 30%;
    
  }

  .exit{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;
  }

  


  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    height: 6%;
    width: 100%;
  }

  .option img{
    height: 35%;
    width: 35%;
    margin-right: 10px;
  }

  .principal h2 {
    font-size: 2.9vw; 
    margin: 0 0 3vw 0;
    font-family: 'Chau Philomene One', sans-serif;
  }

  .danger{
    width: 25vw;
    height: 25vh;
    position:absolute;
    margin-top: 25vh;
    margin-left: 25vw;
    background-color: #5d58b4da;
    display: none;
    z-index: 10000;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
  }

  .take-decision{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
  }

  .take-decision button{
    width: 120px;
    max-height: 100px;
    border-radius: 10px;
    font-size: 22px;
    border-color: #4d4a8c;
    background-color: white;
    font-family: "Chau Philomene One", sans-serif;
    color: #4d4a8c;
    margin-right: 10px;
}

  
  @media screen and (max-width: 1000px) {
    .container {
      flex-direction: column;
    }
  
    .left-banner {
      width: 15%;
    }
  
    .content-container {
      width: 85%;
    }
  
    .calendar-container {
      flex-direction: column;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
    }
    .calendar .goto-today {
      flex-direction: column;
    }
  }
  