body {
    display: flex;
    background-color: #5d58b4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.left-banner {
    width: 20%;
    background-color: #4a47a3;
    color: white;
    padding: 2vw; /* Ajustado a viewport width */
    border-radius: 1vw; /* Esquinas curvas ajustadas */
}

.left-banner ul {
    list-style-type: none;
    padding: 0;
}

.left-banner ul li {
    margin: 4vw 0; /* Margen ajustado a viewport width */
}

.left-banner ul li h1 {
    font-size: 3vw; /* Tamaño de fuente ajustado */
    margin: 0 0 3vw 0;
    font-family: 'Chau Philomene One', sans-serif;
}

.left-banner ul li h3 {
    font-size: 1.5vw; /* Tamaño de fuente ajustado */
    margin: 0;
}

.left-banner ul li h3 a {
    color: white;
    text-decoration: none; 
}

.left-banner ul li h3 a:hover {
    text-decoration: underline;
}

.content-container {
    width: 80%;
    background-color: white;
    padding: 2vw; /* Ajustado a viewport width */
    display: flex;
    flex-direction: column;
    border-radius: 1vw; /* Esquinas curvas ajustadas */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 3vw; /* Tamaño de fuente ajustado */
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 1vw; /* Margen ajustado */
    font-size: 1.5vw; /* Tamaño de fuente ajustado */
}

.user-info img {
    width: 5vw; /* Tamaño ajustado a viewport width */
    height: 5vw;
    border-radius: 50%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vw; /* Margen ajustado */
}

.card {
    background-color: #f5f5f5;
    border-radius: 1vw; /* Esquinas curvas ajustadas */
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 2vw;
    margin: 1vw;
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    width: 10vw; /* Tamaño ajustado a viewport width */
    height: 10vw;
}

.card h2 {
    font-size: 2vw; /* Tamaño de fuente ajustado */
    margin: 1vw 0;
}

.card p {
    font-size: 1.5vw; /* Tamaño de fuente ajustado */
    margin: 1vw 0;
}

.card .rating {
    font-size: 1.8vw; /* Tamaño de fuente ajustado */
    color: #ffbb00;
    margin: 1vw 0;
}

.card button {
    background-color: #4a47a3;
    color: white;
    border: none;
    padding: 1vw 2vw; /* Tamaño ajustado */
    border-radius: 2vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #37347a;
}

.card:hover {
    transform: translateY(-1vw);
}
